<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Ismail Plaza</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap"
	rel="stylesheet">

<link rel="stylesheet" href="/fonts/icomoon/style.css">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="/css/aos.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="/css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target"
	data-offset="300">


	<div class="site-wrap" id="home-section">

		<div class="site-mobile-menu site-navbar-target">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>



		<header class="site-navbar site-navbar-target" role="banner">

			<div class="container">
				<div class="row align-items-center position-relative">

					<div class="col-3 ">
						<div class="site-logo">
							<a href="http://localhost:3022/index">Ismail Plaza</a>
						</div>
					</div>

					<div class="col-9  text-right">


						<span class="d-inline-block d-lg-none"><a href="#"
							class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span
								class="icon-menu h3 text-white"></span></a></span>



						<nav class="site-navigation text-right ml-auto d-none d-lg-block"
							role="navigation">
							<ul class="site-menu main-menu js-clone-nav ml-auto ">
								<li><a th:href="@{/index}"
									class="nav-link">Accueil</a></li>
								<li><a
									th:href="@{/gestionClientController/index}" class="nav-link">Gestion
										Client</a></li>
								<li class="active"><a th:href="@{/gestionConseillerController/index}"
									class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')">Gestion Utilisateur</a></li>
								<li><a th:href="@{/gestionProprietaireController/index}"
									class="nav-link">Gestion Proprietaire</a></li>
								<li><a th:href="@{/gestionBienController/index}"
									class="nav-link">Gestion Bien</a></li>
								<li><a class="nav-link" th:href="@{/logout}"> Logout </a></li>
							</ul>
						</nav>
					</div>


				</div>
			</div>

		</header>

		<div class="ftco-blocks-cover-1">
			<div class="site-section-cover overlay"
				data-stellar-background-ratio="0.5"
				style="background-image: url('/images/hero_1.jpg')">
				<div class="container">
					<div
						class="row align-items-center justify-content-center text-center">
						<div class="col-md-12">
							<h1 class="mb-3">Gestion Utilisateur</h1>
							<p>Acheter ou Louer un bien, c'est preparer votre futur</p>
							<p>
								<a th:href="@{/index}" class="btn btn-primary">Retour à l'accueil</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br> <br> <br>


<br>
		<div class="site-section bg-light">
			<div class="container">
				<div
					class="row justify-content-center text-center mb-5 section-2-title">
					<div class="col-md-6">
						<h3 >Cet utilisateur ne peut pas être supprimé car des visites avec lui sont programmés.</h3>
							<p>
								<a th:href="@{/gestionConseillerController/index}" class="btn btn-primary">Retour à la gestion d'utilisateur</a>
							</p>
						
					</div>
				</div>
			</div>
		</div>



		<div class="site-section section-3"
			data-stellar-background-ratio="0.5"
			style="background-image: url('/images/hero_1.jpg');">
			<div class="container">
				<div class="row justify-content-center text-center">
					<div class="col-7 text-center mb-5">
						<h2 class="text-white scissors primary-color-icon text-center">Ismail
							Plaza</h2>
						<p class="lead text-white mb-5">Pour plus de précision ou pour
							prendre rendez-vous</p>
						<p>
							<a class="btn btn-primary" style="color: #ffffff">06-12-34-56-78</a>
						</p>
					</div>
				</div>
			</div>
		</div>



		<footer class="site-footer">

			<div class="footer1">
				<div class="container">
					<div class="row"></div>
					<!-- /row of widgets -->
				</div>
			</div>

			<div class="footer2">
				<div class="container">
					<div class="row">

						<div class="col-md-4 widget">
							<div class="widget-body">
								<p class="simplenav">
									<a th:href="@{/index}">Accueil</a> | <b><a
										th:href="@{/logout}">Logout</a></b>
								</p>
							</div>
						</div>

						<div class="col-md-8 widget">
							<div class="widget-body">
								<p class="text-right">
									Projet de fin de formation INTI <br> 2021 - Designed by
									Adeline, Charles, Damien, Laurent et Quentin
								</p>
							</div>
						</div>

					</div>
					<!-- /row of widgets -->
				</div>
			</div>

		</footer>

	</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/jquery-migrate-3.0.0.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.animateNumber.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/jquery.validate.min.js"></script> 


</body>

</html>

