<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Ismail Plaza</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap"
	rel="stylesheet">

<link rel="stylesheet" href="fonts/icomoon/style.css">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="/css/aos.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="/css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target"
	data-offset="300">


	<div class="site-wrap" id="home-section">

		<div class="site-mobile-menu site-navbar-target">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>



		<header class="site-navbar site-navbar-target" role="banner">

			<div class="container">
				<div class="row align-items-center position-relative">

					<div class="col-3 ">
						<div class="site-logo">
							<a href="http://localhost:3022/index">Ismail Plaza</a>
						</div>
					</div>

					<div class="col-9  text-right">


						<span class="d-inline-block d-lg-none"><a href="#"
							class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span
								class="icon-menu h3 text-white"></span></a></span>



						<nav class="site-navigation text-right ml-auto d-none d-lg-block"
							role="navigation">
							<ul class="site-menu main-menu js-clone-nav ml-auto ">
								<li><a th:href="@{/index}" class="nav-link">Accueil</a></li>
								<li class="active"><a
									th:href="@{/gestionClientController/index}" class="nav-link">Gestion
										Client</a></li>
								<li><a th:href="@{/gestionConseilllerController/index}"
									class="nav-link">Gestion Utilisateur</a></li>
								<li><a th:href="@{/gestionProprietaireController/index}"
									class="nav-link">Gestion Proprietaire</a></li>
								<li><a th:href="@{/gestionBienController/index}"
									class="nav-link">Gestion Bien</a></li>
								<li><a class="nav-link" th:href="@{/logout}"> Logout </a></li>
							</ul>
						</nav>
					</div>


				</div>
			</div>

		</header>

		<div class="ftco-blocks-cover-1">
			<div class="site-section-cover overlay"
				data-stellar-background-ratio="0.5"
				style="background-image: url('/images/hero_1.jpg')">
				<div class="container">
					<div
						class="row align-items-center justify-content-center text-center">
						<div class="col-md-12">
							<h1 class="mb-3">Gestion Client</h1>
							<p>Acheter ou Louer un bien, c'est preparer votre futur</p>
							<p>
								<a th:href="@{/index}" class="btn btn-primary">Retour à
									l'accueil</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br> <br> <br>

		<div class="container">

			<h3 class="scissors">Modifier un bien</h3>


			<form id="formBienLoc"
				th:action="@{/gestionBienController/updateBien}" method="post"
				th:if="${type == 0}">

				<h3>Bien immobilier</h3>
				<div class="row">
					<div class="col-sm-3">
						<input class="form-control" type="number" name="cautionLocative"
							id="cautionLocative" placeholder="Caution Locative"
							th:value="${bien.cautionLocative}" required>
					</div>
					<div class="col-sm-3">
						<input class="form-control" type="text" name="dateDisposition"
							id="dateDispo" placeholder="Date de disposition"
							th:value="${bien.dateDisposition}" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-3">
						<input class="form-control" type="text" name="etat" id="etat"
							placeholder="État" th:value="${bien.etat}" required>
					</div>
					<div class="col-sm-3">
						<input class="form-control" type="text" name="garniture"
							id="garniture" placeholder="Garniture"
							th:value="${bien.garniture}" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-4">
						<input class="form-control" type="number" name="loyerLocation"
							id="loyerLocation" placeholder="Loyer"
							th:value="${bien.loyerLocation}" required>
					</div>
					<div class="col-sm-4">
						<input class="form-control" type="number" name="prixLocation"
							id="prixLocation" placeholder="Prix Location"
							th:value="${bien.prixLocation}" required>
					</div>
					<div class="col-sm-4">
						<input class="form-control" type="number" name="revenuCadastral"
							id="revenuCadastral" placeholder="Revenu cadastral"
							th:value="${bien.revenuCadastral}" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-6">
						<input class="form-control" type="text" name="typeBail"
							id="typeBail" placeholder="Type de bail"
							th:value="${bien.typeBail}" required>
					</div>
					<br>
					<div class="col-sm-2">

						<input class="form-control" type="number" name="superficie"
							id="superficie" placeholder="Superficie (m2)" required>
					</div>
					<br>

					<div class="col-sm-4">
						<select name="typeBien" class="form-control">
							<option value="Appartement"
								th:selected="${typeBien.equals('Appartement')}">Appartement</option>
							<option value="Maison" th:selected="${typeBien.equals('Maison')}">Maison</option>
							<option value="Studio" th:selected="${typeBien.equals('Studio')}">Studio</option>
							<option value="Entrepôt"
								th:selected="${typeBien.equals('Entrepôt')}">Entrepôt</option>
							<option value="Terrain"
								th:selected="${typeBien.equals('Terrain')}">Terrain</option>
						</select>
					</div>


					<div style="visibility: hidden">
						<input class="form-control" type="text" name="status" id="status"
							value="A louer">
					</div>
					<input style="visibility: hidden" class="form-control" type="text"
						name="type_offre" id="type_offre" value="Location"> <input
						style="visibility: hidden" class="form-control" type="text"
						name="idBienImmobilier" id="idBienImmobilier"
						th:value="${bien.idBienImmobilier}">
					<div style="visibility: hidden"
						th:each="proprietaire:${bien.proprietaire}">
						<input style="visibility: hidden" type="checkbox"
							name="proprietaire" th:value="${proprietaire.idProprietaire}"
							checked />
					</div>
				</div>
				<div style="visibility: hidden" th:each="contrat:${bien.contrat}">
					<input style="visibility: hidden" type="checkbox" name="contrat"
						th:value="${contrat.idContrat}" checked />
				</div>

				<br>



				<h3>Adresse</h3>
				<div th:each="adresse:${bien.adresse}">
					<div class="row">
						<div class="col-sm-2">
							<input class="form-control" type="number" name="numero"
								id="numero" placeholder="N° de rue" th:value="${adresse.numero}"
								required>
						</div>
						<div class="col-sm-6">
							<input class="form-control" type="text" name="rue" id="rue"
								placeholder="Rue" th:value="${adresse.rue}" required>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-sm-2">
							<input class="form-control" type="number" name="codePostal"
								id="codePostal" placeholder="Code Postal"
								th:value="${adresse.codePostal}" required>
						</div>
						<div class="col-sm-5">
							<input class="form-control" type="text" name="ville" id="ville"
								placeholder="Ville" th:value="${adresse.ville}" required>
						</div>
						<div class="col-sm-5">
							<input class="form-control" type="text" name="pays" id="pays"
								placeholder="Pays" th:value="${adresse.pays}" required>
						</div>
					</div>

				</div>
				<br>



				<div>
					<input class="btn" type="submit" name="save" value="Enregistrer"
						id="submit">
				</div>
			</form>

		</div>

<div class="container">
		<form id="formBienAchat"
			th:action="@{/gestionBienController/updateBien}" method="post"
			th:if="${type == 1}">
			<h3>Bien immobilier</h3>
			<div class="row">
				<div class="col-sm-4">
					<input class="form-control" type="text" name="dateDisposition"
						id="dateDispo" placeholder="Date de disposition"
						th:value="${bien.dateDisposition}" required>
				</div>
				<div class="col-sm-4">
					<input class="form-control" type="text" name="prixAchatDemande"
						id="prixAchatDemande" placeholder="Prix d'achat demandé"
						th:value="${bien.prixAchatDemande}" required>
				</div>

				<div class="col-sm-2">
					<input class="form-control" type="number" name="superficie"
						id="superficie" placeholder="Superficie (m2)" required>
				</div>

			</div>
			<br>
			<div class="row">
				<div class="col-sm-6">
					<select name="typeBien" class="form-control">
						<option value="Appartement"
							th:selected="${typeBien.equals('Appartement')}">Appartement</option>
						<option value="Maison" th:selected="${typeBien.equals('Maison')}">Maison</option>
						<option value="Studio" th:selected="${typeBien.equals('Studio')}">Studio</option>
						<option value="Entrepôt"
							th:selected="${typeBien.equals('Entrepôt')}">Entrepôt</option>
						<option value="Terrain"
							th:selected="${typeBien.equals('Terrain')}">Terrain</option>
					</select>
				</div>
			</div>

			<br> <input class="form-control" type="text" name="status"
				id="status" value="A vendre" style="visibility: hidden"> <input
				style="visibility: hidden" class="form-control" type="text"
				name="type_offre" id="type_offre" value="Achat"> <input
				style="visibility: hidden" class="form-control" type="number"
				name="idBienImmobilier" id="idBienImmobilier"
				th:value="${bien.idBienImmobilier}">
			<div style="visibility: hidden"
				th:each="proprietaire:${bien.proprietaire}">
				<input style="visibility: hidden" type="checkbox"
					name="proprietaire" th:value="${proprietaire.idProprietaire}"
					checked />
			</div>

			<div style="visibility: hidden" th:each="contrat:${bien.contrat}">
				<input style="visibility: hidden" type="checkbox" name="contrat"
					th:value="${contrat.idContrat}" checked />
			</div>




			<h3>Adresse</h3>
			<div th:each="adresse:${bien.adresse}">
				<div class="row">
					<div class="col-sm-2">
						<input class="form-control" type="number" name="numero"
							id="numero" placeholder="N° de rue" th:value="${adresse.numero}"
							required>
					</div>
					<div class="col-sm-6">
						<input class="form-control" type="text" name="rue" id="rue"
							placeholder="Rue" th:value="${adresse.rue}" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-2">
						<input class="form-control" type="number" name="codePostal"
							id="codePostal" placeholder="Code Postal"
							th:value="${adresse.codePostal}" required>
					</div>
					<div class="col-sm-5">
						<input class="form-control" type="text" name="ville" id="ville"
							placeholder="Ville" th:value="${adresse.ville}" required>
					</div>
					<div class="col-sm-5">
						<input class="form-control" type="text" name="pays" id="pays"
							placeholder="Pays" th:value="${adresse.pays}" required>
					</div>
				</div>
			</div>

			<br>

			<div>
				<input class="btn" type="submit" name="save" value="Enregistrer"
					id="submit">
			</div>
		</form>
	</div>
</div>



	<div class="site-section section-3" data-stellar-background-ratio="0.5"
		style="background-image: url('/images/hero_1.jpg');">
		<div class="container">
			<div class="row justify-content-center text-center">
				<div class="col-7 text-center mb-5">
					<h2 class="text-white scissors primary-color-icon text-center">Ismail
						Plaza</h2>
					<p class="lead text-white mb-5">Pour plus de précision ou pour
						prendre rendez-vous</p>
					<p>
						<a class="btn btn-primary" style="color: #ffffff">06-12-34-56-78</a>
					</p>
				</div>
			</div>
		</div>
	</div>



	<footer class="site-footer">

		<div class="footer1">
			<div class="container">
				<div class="row"></div>
				<!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-4 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a th:href="@{/gestionClientController/index}">Accueil</a> | <b><a
									th:href="@{/logout}">Logout</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-8 widget">
						<div class="widget-body">
							<p class="text-right">
								Projet de fin de formation INTI <br> 2021 - Designed by
								Adeline, Charles, Damien, Quentin et Laurent
							</p>
						</div>
					</div>

				</div>
				<!-- /row of widgets -->
			</div>
		</div>

	</footer>

	</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/jquery-migrate-3.0.0.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.animateNumber.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/main.js"></script>

	<script src="/js/jquery.validate.min.js"></script>
</body>

</html>

