<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Ismail Plaza</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap"
	rel="stylesheet">

<link rel="stylesheet" href="fonts/icomoon/style.css">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="/css/aos.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="/css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target"
	data-offset="300">


	<div class="site-wrap" id="home-section">

		<div class="site-mobile-menu site-navbar-target">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>



		<header class="site-navbar site-navbar-target" role="banner">

			<div class="container">
				<div class="row align-items-center position-relative">

					<div class="col-3 ">
						<div class="site-logo">
							<a href="http://localhost:3022/index">Ismail Plaza</a>
						</div>
					</div>

					<div class="col-9  text-right">


						<span class="d-inline-block d-lg-none"><a href="#"
							class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span
								class="icon-menu h3 text-white"></span></a></span>



						<nav class="site-navigation text-right ml-auto d-none d-lg-block"
							role="navigation">
							<ul class="site-menu main-menu js-clone-nav ml-auto ">
								<li><a th:href="@{/index}" class="nav-link">Accueil</a></li>
								<li><a th:href="@{/gestionClientController/index}"
									class="nav-link">Gestion Client</a></li>
								<li><a
									href='http://localhost:3022/gestionConseillerController/index'
									class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')">Gestion
										Utilisateur</a></li>
								<li><a th:href="@{/gestionProprietaireController/index}"
									class="nav-link">Gestion Proprietaire</a></li>
								<li class="active"><a
									th:href="@{/gestionBienController/index}" class="nav-link">Gestion
										Bien</a></li>
								<li><a class="nav-link" th:href="@{/logout}"> Logout </a></li>
							</ul>
						</nav>
					</div>


				</div>
			</div>

		</header>

		<div class="ftco-blocks-cover-1">
			<div class="site-section-cover overlay"
				data-stellar-background-ratio="0.5"
				style="background-image: url('/images/hero_1.jpg')">
				<div class="container">
					<div
						class="row align-items-center justify-content-center text-center">
						<div class="col-md-12">
							<h1 class="mb-3">Gestion Bien Immobilier</h1>
							<p>Acheter ou Louer un bien, c'est preparer votre futur</p>
							<p>
								<a th:href="@{/index}" class="btn btn-primary">Retour à
									l'accueil</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br> <br> <br>


		<div class="site-section bg-light">
			<div class="container">
				<div
					class="row justify-content-center text-center mb-5 section-2-title">
					<div class="col-md-6">
						<h3 class="scissors text-center">Détails du bien</h3>
					</div>
				</div>
				<div class="row align-items-stretch">


					<table class="table table-hover" th:if="${type == 3}">

						<tr>
							<th>Caution Locative</th>
							<th>Date disposition</th>
							<th>État</th>
							<th>Garniture</th>
							<th>Loyer mensuel</th>
							<th>Prix location</th>
							<th>Revenu cadastral</th>
							<th>Type Bail</th>
							<th>Type Bien</th>
							<th th:if="${bien.adresse != null}">Adresse</th>
							<th th:if="${bien.proprietaire != null}">Propriétaire</th>
							<th>Action</th>
						</tr>
						<tr>
							<td th:text="|${bien.cautionLocative}|"
								style="vertical-align: middle"></td>
							<td th:text="${bien.dateDisposition}"
								style="vertical-align: middle"></td>
							<td th:text="${bien.etat}" style="vertical-align: middle"></td>
							<td th:text="${bien.garniture}" style="vertical-align: middle"></td>
							<td th:text="|${bien.loyerMensuel}€|"
								style="vertical-align: middle"></td>
							<td th:text="|${bien.prixLocation}€|"
								style="vertical-align: middle"></td>
							<td th:text="|${bien.revenuCadastral}€|"
								style="vertical-align: middle"></td>
							<td th:text="${bien.typeBail}" style="vertical-align: middle"></td>
							<td
								th:text="${bien.classeStandard.typeBienImmobilierId.typeBien}"
								style="vertical-align: middle"></td>
							<td th:if="${bien.adresse != null}"
								th:text="|${bien.adresse.ville} (${bien.adresse.codePostal})|"
								style="vertical-align: middle"></td>
							<td th:if="${bien.proprietaire != null}"
								th:text="|${bien.proprietaire.prenom} (${bien.proprietaire.nom})|"
								style="vertical-align: middle"></td>

							<td style="vertical-align: middle"><a
								th:href="@{/gestionBienController/delete(idBien=${bien.idBienImmobilier})}">delete</a>
								<a
								th:href="@{/gestionBienController/getbien(idBien=${bien.idBienImmobilier})}">update</a>
							</td>
						</tr>

					</table>

					<table class="table table-hover" th:if="${type == 4}">

						<tr>
							<th>Date disposition</th>
							<th>Prix achat demandé</th>
							<th>Type bien</th>
							<th th:if="${bien.adresse != null}">Adresse</th>
							<th th:if="${bien.proprietaire != null}">Propriétaire</th>
							<th>Action</th>
						</tr>
						<tr>
							<td th:text="|${bien.dateDisposition}|"
								style="vertical-align: middle"></td>
							<td th:text="${bien.prixAchatDemande}"
								style="vertical-align: middle"></td>
							<td
								th:text="${bien.classeStandard.typeBienImmobilierId.typeBien}"
								style="vertical-align: middle"></td>
							<td th:if="${bien.adresse != null}"
								th:text="|${bien.adresse.ville} (${bien.adresse.codePostal})|"
								style="vertical-align: middle"></td>
							<td th:if="${bien.proprietaire != null}"
								th:text="|${bien.proprietaire.prenom} (${bien.proprietaire.nom})|"
								style="vertical-align: middle"></td>

							<td style="vertical-align: middle"><a
								th:href="@{/gestionBienController/delete(idBien=${bien.idBienImmobilier})}">delete</a>
								<a style="color: #204a87"
								th:href="@{/gestionBienController/getbien(idBien=${bien.idBienImmobilier})}">update</a>
							</td>
						</tr>

					</table>



					
				</div>
				<br><br>
				<div
						class="row justify-content-center text-center mb-5 section-2-title">
						<div class="col-md-6">
							<h3 class="scissors text-center">Clients intéressés</h3>
						</div>
					</div>
					<table class="table table-hover" th:if="${clientsInteresses != null}">
						<tr>
							<th>Nom</th>
							<th>Numéro de téléphone</th>
							<th>Adresse</th>
						</tr>
						<tr th:each="client:${clientsInteresses}">
							<td th:text="${client.nom}"></td>
							<td th:text="${client.numeroTelephone}"></td>
							<td
								th:text="|${client.adresse.numero} ${client.adresse.rue}, ${client.adresse.codePostal} ${client.adresse.ville} (${client.adresse.pays})|"></td>

						</tr>
					</table>

					<p style="text-align: center" class="error"
						th:if="${clientsInteresses == null}">Aucun client n'a effectué
						ou programmé de visite pour ce bien</p>
						
					
						<a  href='http://localhost:3022/gestionBienController/index'>Retour</a>
						
			</div>
		</div>

		


		<div class="site-section section-3"
			data-stellar-background-ratio="0.5"
			style="background-image: url('/images/hero_1.jpg');">
			<div class="container">
				<div class="row justify-content-center text-center">
					<div class="col-7 text-center mb-5">
						<h2 class="text-white scissors primary-color-icon text-center">Ismail
							Plaza</h2>
						<p class="lead text-white mb-5">Pour plus de précision ou pour
							prendre rendez-vous</p>
						<p>
							<a class="btn btn-primary" style="color: #ffffff">06-12-34-56-78</a>
						</p>
					</div>
				</div>
			</div>
		</div>



		<footer class="site-footer">

			<div class="footer1">
				<div class="container">
					<div class="row"></div>
					<!-- /row of widgets -->
				</div>
			</div>

			<div class="footer2">
				<div class="container">
					<div class="row">

						<div class="col-md-4 widget">
							<div class="widget-body">
								<p class="simplenav">
									<a th:href="@{/gestionClientController/index}">Accueil</a> | <b><a
										th:href="@{/logout}">Logout</a></b>
								</p>
							</div>
						</div>

						<div class="col-md-8 widget">
							<div class="widget-body">
								<p class="text-right">
									Projet de fin de formation INTI <br> 2021 - Designed by
									Adeline, Charles, Damien, Quentin et Laurent
								</p>
							</div>
						</div>

					</div>
					<!-- /row of widgets -->
				</div>
			</div>

		</footer>

	</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/jquery-migrate-3.0.0.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.animateNumber.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/main.js"></script>

	<script src="/js/jquery.validate.min.js"></script>

</body>

</html>

