<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Ismail Plaza</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap"
	rel="stylesheet">

<link rel="stylesheet" href="fonts/icomoon/style.css">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="/css/aos.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="/css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target"
	data-offset="300">


	<div class="site-wrap" id="home-section">

		<div class="site-mobile-menu site-navbar-target">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>



		<header class="site-navbar site-navbar-target" role="banner">

			<div class="container">
				<div class="row align-items-center position-relative">

					<div class="col-3 ">
						<div class="site-logo">
							<a href="http://localhost:3022/index">Ismail Plaza</a>
						</div>
					</div>

					<div class="col-9  text-right">


						<span class="d-inline-block d-lg-none"><a href="#"
							class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span
								class="icon-menu h3 text-white"></span></a></span>



						<nav class="site-navigation text-right ml-auto d-none d-lg-block"
							role="navigation">
							<ul class="site-menu main-menu js-clone-nav ml-auto ">
								<li><a th:href="@{/index}" class="nav-link">Accueil</a></li>
								<li><a th:href="@{/gestionClientController/index}"
									class="nav-link">Gestion Client</a></li>
								<li><a
									href='http://localhost:3022/gestionConseillerController/index'
									class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')">Gestion
										Utilisateur</a></li>
								<li><a th:href="@{/gestionProprietaireController/index}"
									class="nav-link">Gestion Proprietaire</a></li>
								<li class="active"><a
									th:href="@{/gestionBienController/index}" class="nav-link">Gestion
										Bien</a></li>
								<li><a class="nav-link" th:href="@{/logout}"> Logout </a></li>
							</ul>
						</nav>
					</div>


				</div>
			</div>

		</header>

		<div class="ftco-blocks-cover-1">
			<div class="site-section-cover overlay"
				data-stellar-background-ratio="0.5"
				style="background-image: url('/images/hero_1.jpg')">
				<div class="container">
					<div
						class="row align-items-center justify-content-center text-center">
						<div class="col-md-12">
							<h1 class="mb-3">Gestion Bien Immobilier</h1>
							<p>Acheter ou Louer un bien, c'est preparer votre futur</p>
							<p>
								<a th:href="@{/index}" class="btn btn-primary">Retour à
									l'accueil</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br> <br> <br>

		<div class="container">

			<h3 class="scissors">Ajouter un bien</h3>

			<form th:action="@{/gestionBienController/getFormulaireByTypeOffre}">
				<div class="row">
					<div class="col-sm-6">
						<input class="form-control" type="submit" name="type"
							value="Location" id="boutonLoc">
					</div>
					<div class="col-sm-6">
						<input class="form-control" type="submit" name="type"
							value="Achat" id="boutonAchat">
					</div>
				</div>
			</form>

			<br> <br> <br>

			<form id="formBienLoc" th:action="@{/gestionBienController/addBien}"
				method="post" th:if="${type == 0}">
				<h3>Bien immobilier</h3>
				<div class="row">
					<div class="col-sm-3">
						<input class="form-control" type="number" name="cautionLocative"
							id="cautionLocative" placeholder="Caution Locative" required>
					</div>
					<div class="col-sm-3">
						<input class="form-control" type="text" name="dateDisposition"
							id="dateDispo" placeholder="Date de disposition" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-3">
						<input class="form-control" type="text" name="etat" id="etat"
							placeholder="État" required>
					</div>
					<div class="col-sm-3">
						<input class="form-control" type="text" name="garniture"
							id="garniture" placeholder="Garniture" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-4">
						<input class="form-control" type="number" name="loyerLocation"
							id="loyerLocation" placeholder="Loyer" required>
					</div>
					<div class="col-sm-4">
						<input class="form-control" type="number" name="prixLocation"
							id="prixLocation" placeholder="Prix Location" required>
					</div>
					<div class="col-sm-4">
						<input class="form-control" type="number" name="revenuCadastral"
							id="revenuCadastral" placeholder="Revenu cadastral" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-6">
						<input class="form-control" type="text" name="typeBail"
							id="typeBail" placeholder="Type de bail" required>
					</div>
					<br>
					<div class="col-sm-2">
						<input class="form-control" type="number" name="superficie"
							id="superficie" placeholder="Superficie (m2)" required>
					</div>
					<br>

					<div class="col-sm-4">
						<select name="typeBien" class="form-control">
							<option value="Appartement">Appartement</option>
							<option value="Maison">Maison</option>
							<option value="Studio">Studio</option>
							<option value="Entrepôt">Entrepôt</option>
							<option value="Terrain">Terrain</option>
						</select>
					</div>


					<div style="visibility: hidden">
						<input class="form-control" type="text" name="status" id="status"
							value="A louer">
					</div>
					<input style="visibility: hidden" class="form-control" type="text"
						name="type_offre" id="type_offre" value="Location">

				</div>
				<br>



				<h3>Adresse</h3>
				<div class="row">
					<div class="col-sm-2">
						<input class="form-control" type="number" name="numero" id="numero"
							placeholder="N° de rue" required>
					</div>
					<div class="col-sm-6">
						<input class="form-control" type="text" name="rue" id="rue"
							placeholder="Rue" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-2">
						<input class="form-control" type="number" name="codePostal"
							id="codePostal" placeholder="Code Postal" required>
					</div>
					<div class="col-sm-5">
						<input class="form-control" type="text" name="ville" id="ville"
							placeholder="Ville" required>
					</div>
					<div class="col-sm-5">
						<input class="form-control" type="text" name="pays" id="pays"
							placeholder="Pays" required>
					</div>
				</div>


				<br>



				<div>
					<input class="btn" type="submit" name="save" value="Ajouter Bien"
						id="submit">
				</div>
			</form>



			<form id="formBienAchat"
				th:action="@{/gestionBienController/addBien}" method="post"
				th:if="${type == 1}">
				<h3>Bien immobilier</h3>
				<div class="row">
					<div class="col-sm-4">
						<input class="form-control" type="text" name="dateDisposition"
							id="dateDispo" placeholder="Date de disposition" required>
					</div>
					<div class="col-sm-4">
						<input class="form-control" type="text" name="prixAchatDemande"
							id="prixAchatDemande" placeholder="Prix d'achat demandé" required>
					</div>

					<div class="col-sm-2">
						<input class="form-control" type="number" name="superficie"
							id="superficie" placeholder="Superficie (m2)" required>
					</div>

				</div>
				<br>
				<div class="row">
					<div class="col-sm-6">
						<select name="typeBien" class="form-control">
							<option value="Appartement">Appartement</option>
							<option value="Maison">Maison</option>
							<option value="Studio">Studio</option>
							<option value="Entrepôt">Entrepôt</option>
							<option value="Terrain">Terrain</option>
						</select>
					</div>
				</div>

				<br> <input class="form-control" type="text" name="status"
					id="status" value="A vendre" style="visibility: hidden"> <input
					style="visibility: hidden" class="form-control" type="text"
					name="type_offre" id="type_offre" value="Achat">




				<h3>Adresse</h3>

				<div class="row">
					<div class="col-sm-2">
						<input class="form-control" type="number" name="numero" id="numero"
							placeholder="N° de rue" required>
					</div>
					<div class="col-sm-6">
						<input class="form-control" type="text" name="rue" id="rue"
							placeholder="Rue" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-2">
						<input class="form-control" type="number" name="codePostal"
							id="codePostal" placeholder="Code Postal" required>
					</div>
					<div class="col-sm-5">
						<input class="form-control" type="text" name="ville" id="ville"
							placeholder="Ville" required>
					</div>
					<div class="col-sm-5">
						<input class="form-control" type="text" name="pays" id="pays"
							placeholder="Pays" required>
					</div>
				</div>


				<br>

				<div>
					<input class="btn" type="submit" name="save" value="Ajouter Bien"
						id="submit">
				</div>
			</form>


			<br> <br>
			<h3 class="scissors">Rechercher un bien par identifiant</h3>
			<form th:action="@{/gestionBienController/getbienbyid}" method="get">
				<div class="row">
					<div class="col-sm-6">
						<input class="form-control" type="text" name="idBien"
							placeholder="Identifiant">
					</div>
				</div>
				<br>
				<div>
					<input class="btn" type="submit" name="search" value="Rechercher">
				</div>
			</form>


			<br> <br>
			<h3 class="scissors">Rechercher un bien par sa classe standard</h3>
			<form
				th:action="@{/gestionBienController/getbienbyidClasseStandardGestionBien}">
				<div class="row">
					<div class="col-md-6">
						<select class="form-control" name="typeOffre">
							<option value="Location">Location</option>
							<option value="Achat">Achat</option>
						</select>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-md-6">
						<select class="form-control" name="typeBien">
							<option value="Appartement">Appartement</option>
							<option value="Maison">Maison</option>
							<option value="Studio">Studio</option>
							<option value="Entrepôt">Entrepôt</option>
							<option value="Terrain">Terrain</option>
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-3">
						<input class="form-control" type="number" name="supMin"
							placeholder="Superficie minimun" required>
					</div>
					<div class="col-md-3">
						<input class="form-control" type="number" name="supMax"
							placeholder="Superficie maximum" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-3">
						<input class="form-control" type="number" name="prixMin"
							placeholder="Prix minimun" required>
					</div>
					<div class="col-md-3">
						<input class="form-control" type="number" name="prixMax"
							placeholder="Prix maximum" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-3">
						<input class="form-control" type="text" name="ville"
							placeholder="Ville recherchée" required>
					</div>
				</div>


				<div>
					<input class="btn" type="submit" name="save"
						value="Rechercher par Classe Standard" id="submit">
				</div>
			</form>

		</div>


		<div class="site-section bg-light">
			<div class="container">
				<div
					class="row justify-content-center text-center mb-5 section-2-title">
					<div class="col-md-6">
						<h3 class="scissors text-center">Liste des biens</h3>
					</div>
				</div>
				<div class="row align-items-stretch">


					<table class="table table-hover" th:if="${type == 3}">

						<tr>
							<th>Caution Locative</th>
							<th>Date disposition</th>
							<th>État</th>
							<th>Garniture</th>
							<th>Loyer mensuel</th>
							<th>Prix location</th>
							<th>Revenu cadastral</th>
							<th>Type Bail</th>
							<th>Type Bien</th>
							<th th:if="${bien.adresse != null}">Adresse</th>
							<th th:if="${bien.proprietaire != null}">Propriétaire</th>
							<th>Clients interessés</th>
							<th>Action</th>
						</tr>
						<tr>
							<td th:text="|${bien.cautionLocative}|"
								style="vertical-align: middle"></td>
							<td th:text="${bien.dateDisposition}"
								style="vertical-align: middle"></td>
							<td th:text="${bien.etat}" style="vertical-align: middle"></td>
							<td th:text="${bien.garniture}" style="vertical-align: middle"></td>
							<td th:text="|${bien.loyerMensuel}€|"
								style="vertical-align: middle"></td>
							<td th:text="|${bien.prixLocation}€|"
								style="vertical-align: middle"></td>
							<td th:text="|${bien.revenuCadastral}€|"
								style="vertical-align: middle"></td>
							<td th:text="${bien.typeBail}" style="vertical-align: middle"></td>
							<td
								th:text="${bien.classeStandard.typeBienImmobilierId.typeBien}"
								style="vertical-align: middle"></td>
							<td th:if="${bien.adresse != null}"
								th:text="|${bien.adresse.ville} (${bien.adresse.codePostal})|"
								style="vertical-align: middle"></td>
							<td th:if="${bien.proprietaire != null}"
								th:text="|${bien.proprietaire.prenom} ${bien.proprietaire.nom}|"
								style="vertical-align: middle"></td>
							<td th:if="${clientsInteresses != null}"
								style="vertical-align: middle">
								<table>
									<tr th:each="client:${clientsInteresses}">
										<td style="border: none"
											th:text="|- ${client.nom} (${client.numeroTelephone})|"></td>
									</tr>
								</table>
							</td>
							<td style="vertical-align: middle"><a
								th:href="@{/gestionBienController/getbien(idBien=${bien.idBienImmobilier})}">update</a><a
								th:href="@{/gestionBienController/delete(idBien=${bien.idBienImmobilier})}">delete</a>
								
							</td>
						</tr>

					</table>

					<table class="table table-hover" th:if="${type == 4}">

						<tr>
							<th>Date disposition</th>
							<th>Prix achat demandé</th>
							<th>Type bien</th>
							<th th:if="${bien.adresse != null}">Adresse</th>
							<th th:if="${bien.proprietaire != null}">Propriétaire</th>
							<th>Clients interessés</th>
							<th>Action</th>
						</tr>
						<tr>
							<td th:text="|${bien.dateDisposition}|"
								style="vertical-align: middle"></td>
							<td th:text="${bien.prixAchatDemande}"
								style="vertical-align: middle"></td>
							<td
								th:text="${bien.classeStandard.typeBienImmobilierId.typeBien}"
								style="vertical-align: middle"></td>
							<td th:if="${bien.adresse != null}"
								th:text="|${bien.adresse.ville} (${bien.adresse.codePostal})|"
								style="vertical-align: middle"></td>
							<td th:if="${bien.proprietaire != null}"
								th:text="|${bien.proprietaire.prenom} ${bien.proprietaire.nom}|"
								style="vertical-align: middle"></td>

							<td th:if="${clientsInteresses != null}"
								style="vertical-align: middle">
								<table>
									<tr th:each="client:${clientsInteresses}">
										<td style="border: none"
											th:text="|- ${client.nom} (${client.numeroTelephone})|"></td>
									</tr>
								</table>
							</td>

							<td style="vertical-align: middle">								<a style="color: #204a87"
								th:href="@{/gestionBienController/getbien(idBien=${bien.idBienImmobilier})}">update</a><a
								th:href="@{/gestionBienController/delete(idBien=${bien.idBienImmobilier})}">delete</a>

							</td>
						</tr>

					</table>







					<table class="table table-hover" th:if="${type == 5}">

						<tr>
							<th>Caution Locative</th>
							<th>Date disposition</th>
							<th>État</th>
							<th>Garniture</th>
							<th>Loyer mensuel</th>
							<th>Prix location</th>
							<th>Revenu cadastral</th>
							<th>Type Bail</th>
							<th>Type Bien</th>
							<th>Adresse</th>
							<th >Propriétaire</th>
							<th>Action</th>
						</tr>
						
						<tr th:each="bien:${biens}">
							<td th:text="|${bien.cautionLocative}|"
								style="vertical-align: middle"></td>
							<td th:text="${bien.dateDisposition}"
								style="vertical-align: middle"></td>
							<td th:text="${bien.etat}" style="vertical-align: middle"></td>
							<td th:text="${bien.garniture}" style="vertical-align: middle"></td>
							<td th:text="|${bien.loyerMensuel}€|"
								style="vertical-align: middle"></td>
							<td th:text="|${bien.prixLocation}€|"
								style="vertical-align: middle"></td>
							<td th:text="|${bien.revenuCadastral}€|"
								style="vertical-align: middle"></td>
							<td th:text="${bien.typeBail}" style="vertical-align: middle"></td>
							<td
								th:text="${bien.classeStandard.typeBienImmobilierId.typeBien}"
								style="vertical-align: middle"></td>
							<td 
								th:text="|${bien.adresse.ville} (${bien.adresse.codePostal})|"
								style="vertical-align: middle"></td>
							<td 
								th:text="|${bien.proprietaire.prenom} ${bien.proprietaire.nom}|"
								style="vertical-align: middle"></td>
							
							<td style="vertical-align: middle">								<a style="color: #204a87"
								th:href="@{/gestionBienController/getbien(idBien=${bien.idBienImmobilier})}">update</a><a
								th:href="@{/gestionBienController/delete(idBien=${bien.idBienImmobilier})}">delete</a>

								<a style="color: #204a87"
								th:href="@{/gestionBienController/findClientsInteresses(idBien=${bien.idBienImmobilier})}">détails </a>
							</td>
						</tr>

					</table>

					<table class="table table-hover" th:if="${type == 6}">

						<tr>
							<th>Date disposition</th>
							<th>Prix achat demandé</th>
							<th>Type bien</th>
							<th >Adresse</th>
							<th >Propriétaire</th>
							<th>Action</th>
						</tr>
						<tr th:each="bien:${biens}">
							<td th:text="|${bien.dateDisposition}|"
								style="vertical-align: middle"></td>
							<td th:text="${bien.prixAchatDemande}"
								style="vertical-align: middle"></td>
							<td
								th:text="${bien.classeStandard.typeBienImmobilierId.typeBien}"
								style="vertical-align: middle"></td>
							<td
								th:text="|${bien.adresse.ville} (${bien.adresse.codePostal})|"
								style="vertical-align: middle"></td>
							<td 
								th:text="|${bien.proprietaire.prenom} ${bien.proprietaire.nom}|"
								style="vertical-align: middle"></td>

							

							<td style="vertical-align: middle">								<a style="color: #204a87"
								th:href="@{/gestionBienController/getbien(idBien=${bien.idBienImmobilier})}">update</a><a
								th:href="@{/gestionBienController/delete(idBien=${bien.idBienImmobilier})}">delete</a>

								<a style="color: #204a87"
								th:href="@{/gestionBienController/findClientsInteresses(idBien=${bien.idBienImmobilier})}">détails </a>
							</td>
						</tr>

					</table>


				</div>
			</div>
		</div>



		<div class="site-section section-3"
			data-stellar-background-ratio="0.5"
			style="background-image: url('/images/hero_1.jpg');">
			<div class="container">
				<div class="row justify-content-center text-center">
					<div class="col-7 text-center mb-5">
						<h2 class="text-white scissors primary-color-icon text-center">Ismail
							Plaza</h2>
						<p class="lead text-white mb-5">Pour plus de précision ou pour
							prendre rendez-vous</p>
						<p>
							<a class="btn btn-primary" style="color: #ffffff">06-12-34-56-78</a>
						</p>
					</div>
				</div>
			</div>
		</div>



		<footer class="site-footer">

			<div class="footer1">
				<div class="container">
					<div class="row"></div>
					<!-- /row of widgets -->
				</div>
			</div>

			<div class="footer2">
				<div class="container">
					<div class="row">

						<div class="col-md-4 widget">
							<div class="widget-body">
								<p class="simplenav">
									<a th:href="@{/gestionClientController/index}">Accueil</a> | <b><a
										th:href="@{/logout}">Logout</a></b>
								</p>
							</div>
						</div>

						<div class="col-md-8 widget">
							<div class="widget-body">
								<p class="text-right">
									Projet de fin de formation INTI <br> 2021 - Designed by
									Adeline, Charles, Damien, Quentin et Laurent
								</p>
							</div>
						</div>

					</div>
					<!-- /row of widgets -->
				</div>
			</div>

		</footer>

	</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/jquery-migrate-3.0.0.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.animateNumber.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/main.js"></script>

	<script src="/js/jquery.validate.min.js"></script>

</body>

</html>

