<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Ismail Plaza</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap"
	rel="stylesheet">

<link rel="stylesheet" href="/fonts/icomoon/style.css">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="/css/aos.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="/css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target"
	data-offset="300">


	<div class="site-wrap" id="home-section">

		<div class="site-mobile-menu site-navbar-target">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>



		<header class="site-navbar site-navbar-target" role="banner">

			<div class="container">
				<div class="row align-items-center position-relative">

					<div class="col-3 ">
						<div class="site-logo">
							<a href="http://localhost:3022/index">Ismail Plaza</a>
						</div>
					</div>

					<div class="col-9  text-right">


						<span class="d-inline-block d-lg-none"><a href="#"
							class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span
								class="icon-menu h3 text-white"></span></a></span>



						<nav class="site-navigation text-right ml-auto d-none d-lg-block"
							role="navigation">
							<ul class="site-menu main-menu js-clone-nav ml-auto ">
								<li><a th:href="@{/index}" class="nav-link">Accueil</a></li>
								<li class="active"><a
									th:href="@{/gestionClientController/index}" class="nav-link">Gestion
										Client</a></li>
								<li><a th:href="@{/gestionConseillerController/index}"
									class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')">Gestion
										Utilisateur</a></li>
								<li><a th:href="@{/gestionProprietaireController/index}"
									class="nav-link">Gestion Proprietaire</a></li>
								<li><a th:href="@{/gestionBienController/index}"
									class="nav-link">Gestion Bien</a></li>
								<li><a class="nav-link" th:href="@{/logout}"> Logout </a></li>
							</ul>
						</nav>
					</div>


				</div>
			</div>

		</header>

		<div class="ftco-blocks-cover-1">
			<div class="site-section-cover overlay"
				data-stellar-background-ratio="0.5"
				style="background-image: url('/images/hero_1.jpg')">
				<div class="container">
					<div
						class="row align-items-center justify-content-center text-center">
						<div class="col-md-12">
							<h1 class="mb-3">Gestion Client</h1>
							<p>Acheter ou Louer un bien, c'est preparer votre futur</p>
							<p>
								<a th:href="@{/index}" class="btn btn-primary">Retour à
									l'accueil</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br> <br> <br>

		<div class="container">

			<h3 class="scissors">Ajouter un client</h3>
			<form id="form" th:action="@{/gestionClientController/add}"
				method="post">
				<div class="row">
					<div class="col-sm-3">
						<input class="form-control" type="text" name="nom" id="nom"
							placeholder="Nom" required>
					</div>

					<div class="col-sm-3">
						<input class="form-control" type="tel" name="numeroTelephone"
							id="numTel" placeholder="Numéro de téléphone" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-2">
						<input class="form-control" type="number" name="numero" id="num"
							placeholder="N° de rue" required>
					</div>
					<div class="col-sm-4">
						<input class="form-control" type="text" name="rue" id="rue"
							placeholder="Rue" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-4">
						<input class="form-control" type="number" name="codePostal"
							id="codePostal" placeholder="Code Postal" required>
					</div>
					<div class="col-sm-4">
						<input class="form-control" type="text" name="ville" id="ville"
							placeholder="Ville" required>
					</div>
					<div class="col-sm-4">
						<input class="form-control" type="text" name="pays" id="pays"
							placeholder="Pays" required>
					</div>
				</div>
				<br>
				<div>
					<select class="form-control" multiple name="idClasseStandard"
						required>
						<option th:each="classe:${classes}"
							th:value="${classe.idClasseStandard}" th:text="${classe}"></option>
					</select>
				</div>
				<br>
				<div>
					<input class="btn" type="submit" name="save" value="Ajouter Client"
						id="submit">
				</div>
			</form>
			<br> <br>
			<h3 class="scissors">Rechercher un client</h3>
			<form th:action="@{/gestionClientController/getclientbynom}"
				method="get">
				<div class="row">
					<div class="col-sm-6">
						<input class="form-control" type="text" name="nom"
							placeholder="Nom">
					</div>
				</div>
				<div>
					<input class="btn" id="submit" type="submit" name="search"
						value="Rechercher">
				</div>
			</form>

		</div>


		<div class="site-section bg-light">
			<div class="container">
				<div
					class="row justify-content-center text-center mb-5 section-2-title">
					<div class="col-md-6">
						<h3 class="scissors text-center">Liste des clients</h3>
					</div>
				</div>
				<div class="row align-items-stretch">


					<!--         <table>  
       		<tr>
			<th>Id</th>
			<th>Nom</th>
			<th>Adresse</th>
			<th>Action</th>
		</tr>     
		<tr th:each="client:${clients}">
			<td th:text="${client.idClient}"></td>
			<td th:text="${client.nom}"></td>
			<td th:text="${client.adresse}"></td>
 			<td><a th:href="@{/gestionClientController/delete(idClient=${client.idClient})}">
					delete </a></td>
			<td><a th:href="@{/gestionClientController/getclient(idClient=${client.idClient})}">
					update </a></td>
		</tr>
		</table>  -->


					<div th:each="client:${clients}" class="col-lg-4 col-md-6 mb-5">
						<div class="post-entry-1 h-100 person-1">

							<div class="post-entry-1-contents">
								<span class="meta" th:text="${client.idClient}"></span>
								<h2 th:text="${client.nom}"></h2>

								<p th:text="${client.adresse}"></p>
								<p th:text="${client.classesStandards}"></p>

								<!-- <h6 th:text="${client.adresse.numero}"> </h6>
								<h6 th:text="${client.adresse.rue}"> </h6>
								<h6 th:text="${client.adresse.codePostal}"> </h6>
								<h6 th:text="${client.adresse.ville}"> </h6>
								<h6 th:text="${client.adresse.pays}"> </h6> -->
								<a style="color: #204a87"
									th:href="@{/gestionClientController/getclient(idClient=${client.idClient})}">
									update </a> <a
									th:href="@{/gestionClientController/delete(idClient=${client.idClient})}">
									delete </a>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>



		<div class="site-section section-3"
			data-stellar-background-ratio="0.5"
			style="background-image: url('/images/hero_1.jpg');">
			<div class="container">
				<div class="row justify-content-center text-center">
					<div class="col-7 text-center mb-5">
						<h2 class="text-white scissors primary-color-icon text-center">Ismail
							Plaza</h2>
						<p class="lead text-white mb-5">Pour plus de précision ou pour
							prendre rendez-vous</p>
						<p>
							<a class="btn btn-primary" style="color: #ffffff">06-12-34-56-78</a>
						</p>
					</div>
				</div>
			</div>
		</div>



		<footer class="site-footer">

			<div class="footer1">
				<div class="container">
					<div class="row"></div>
					<!-- /row of widgets -->
				</div>
			</div>

			<div class="footer2">
				<div class="container">
					<div class="row">

						<div class="col-md-4 widget">
							<div class="widget-body">
								<p class="simplenav">
									<a th:href="@{/index}">Accueil</a> | <b><a
										th:href="@{/logout}">Logout</a></b>
								</p>
							</div>
						</div>

						<div class="col-md-8 widget">
							<div class="widget-body">
								<p class="text-right">
									Projet de fin de formation INTI <br> 2021 - Designed by
									Adeline, Charles, Damien, Laurent et Quentin
								</p>
							</div>
						</div>

					</div>
					<!-- /row of widgets -->
				</div>
			</div>

		</footer>

	</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/jquery-migrate-3.0.0.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.animateNumber.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/jquery.validate.min.js"></script>


</body>

</html>

