<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Ismail Plaza</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link
	href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap"
	rel="stylesheet">

<link rel="stylesheet" href="fonts/icomoon/style.css">

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="/css/owl.carousel.min.css">
<link rel="stylesheet" href="/css/owl.theme.default.min.css">
<link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
<link rel="stylesheet" href="/css/aos.css">

<!-- MAIN CSS -->
<link rel="stylesheet" href="/css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target"
	data-offset="300">


	<div class="site-wrap" id="home-section">

		<div class="site-mobile-menu site-navbar-target">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>



		<header class="site-navbar site-navbar-target" role="banner">

			<div class="container">
				<div class="row align-items-center position-relative">

					<div class="col-3 ">
						<div class="site-logo">
							<a th:href="@{/home}">Ismail Plaza</a>
						</div>
					</div>

					<div class="col-9  text-right">


						<span class="d-inline-block d-lg-none"><a href="#"
							class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span
								class="icon-menu h3 text-white"></span></a></span>



						<nav class="site-navigation text-right ml-auto d-none d-lg-block"
							role="navigation">
							<ul class="site-menu main-menu js-clone-nav ml-auto ">
								<li class="active"><a th:href="@{/home}" class="nav-link">Accueil</a></li>

								<li><a class="nav-link" th:if="${user == null}"
									th:href="@{/connexion}">Connexion</a></li>
								<li><a class="nav-link" th:if="${user != null}"
									th:href="@{/connexion}">Mon espace personnel</a></li>
								<li><a class="nav-link" th:if="${user != null}"
									th:href="@{/logout}"> Logout </a></li>
							</ul>
						</nav>
					</div>


				</div>
			</div>

		</header>



		<div class="site-section section-3"
			data-stellar-background-ratio="0.5"
			style="background-image: url('/images/hero_1.jpg');">
			<div class="container">
				<div class="row justify-content-center text-center">
					<div class="col-7 text-center mb-5">
						<h2 class="text-white scissors primary-color-icon text-center">Ismail
							Plaza</h2>
						<p class="lead text-white mb-5">Pour plus de précision ou pour
							prendre rendez-vous</p>
						<p>
							<a class="btn btn-primary" style="color: #ffffff">06-12-34-56-78</a>
						</p>
					</div>
				</div>
			</div>
		</div>


		<br> <br> <br>
		<div class="container" id="divToHide">
			<div
				class="row justify-content-center text-center mb-5 section-2-title">
				<h3 class="scissors">Rechercher un bien</h3>
			</div>


			<!-- 		<h4>Rechercher un bien par type d'offre</h4>
			<form th:action="@{/gestionBienController/getbiensbytypeoffte}">
				<div class="row">
					<div class="col-sm-6">
						<input class="form-control" type="submit" name="type"
							value="Location" id="boutonLoc">
					</div>
					<div class="col-sm-6">
						<input class="form-control" type="submit" name="type"
							value="Achat" id="boutonAchat">
					</div>
				</div>
			</form> -->



			<br> <br>
			<h4>Rechercher un bien</h4>
			<form th:action="@{/gestionBienController/getbienbyidClasseStandard}">
				<div class="row">
					<div class="col-md-6">
						<select class="form-control" name="typeOffre">
							<option value="Location">Location</option>
							<option value="Achat">Achat</option>
						</select>
					</div>
				</div>
				<br>

				<div class="row">
					<div class="col-md-6">
						<select class="form-control" name="typeBien">
							<option value="Appartement">Appartement</option>
							<option value="Maison">Maison</option>
							<option value="Studio">Studio</option>
							<option value="Entrepôt">Entrepôt</option>
							<option value="Terrain">Terrain</option>
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-3">
						<input class="form-control" type="number" name="supMin"
							placeholder="Superficie minimun" required>
					</div>
					<div class="col-md-3">
						<input class="form-control" type="number" name="supMax"
							placeholder="Superficie maximum" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-3">
						<input class="form-control" type="number" name="prixMin"
							placeholder="Prix minimun" required>
					</div>
					<div class="col-md-3">
						<input class="form-control" type="number" name="prixMax"
							placeholder="Prix maximum" required>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-3">
						<input class="form-control" type="text" name="ville"
							placeholder="Ville recherchée" required>
					</div>
				</div>


				<div>
					<input class="btn" type="submit" name="save"
						value="Rechercher par Classe Standard" id="submit">
				</div>
			</form>

		</div>
		<br>


		<div class="site-section bg-light" id="divToShow">
			<div class="container">
				<div
					class="row justify-content-center text-center mb-5 section-2-title">
					<div class="col-md-6">
						<h3 class="scissors text-center">Resultat de votre recherche</h3>
					</div>
				</div>
				<div class="row align-items-stretch">

					<table class="table table-hover" th:if="${type == 0}">

						<tr>
							<th>Photo</th>
							<th>Référence bien</th>
							<th>Adresse</th>
							<th>Loyer mensuel</th>
							<th>Caution Locative</th>
							<th>Garniture</th>

						</tr>

						<tr th:each="bien:${biens}">
							<td><img class="fit-picture" src="/images/maison.jpg"
								style="width: 100px; height: 75px;"></td>
							<td th:text="|${bien.idBienImmobilier}€|"
								style="vertical-align: middle"></td>
							<td
								th:text="|${bien.adresse.ville} (${bien.adresse.codePostal})|"
								style="vertical-align: middle"></td>
							<td th:text="|${bien.loyerMensuel}€|"
								style="vertical-align: middle"></td>
							<td th:text="|${bien.cautionLocative}€|"
								style="vertical-align: middle"></td>
							<td th:text="|${bien.garniture}€|" style="vertical-align: middle"></td>

						</tr>

					</table>

					<table class="table table-hover" th:if="${type == 1}">

						<tr>
							<th>Photo</th>
							<th>Référence bien</th>
							<th>Adresse</th>
							<th>Prix</th>

						</tr>
						<tr th:each="bien:${biens}">
							<td><img class="fit-picture" src="/images/maison.jpg"
								style="width: 100px; height: 75px;"></td>
							<td th:text="${bien.idBienImmobilier}"
								style="vertical-align: middle"></td>
							<td
								th:text="|${bien.adresse.ville} (${bien.adresse.codePostal})|"
								style="vertical-align: middle"></td>
							<td th:text="|${bien.prixAchatDemande}€|"
								style="vertical-align: middle"></td>

						</tr>

					</table>

					<!-- <table class="table table-hover" th:if="${type == 5}">

						<tr>
							<th>Adresse</th>
							<th>Loyer mensuel</th>
							<th>Caution Locative</th>
							<th>Prix d'Achat</th>
							<th>Identifiant Bien</th>

						</tr>
						<tr th:each="bien:${biens}">
							<td
								th:text="|${bien.adresse.ville} (${bien.adresse.codePostal})|"></td>
							<td th:text="|${bien.loyerMensuel}€|"></td>
							<td th:text="|${bien.cautionLocative}€|"></td>
							<td th:text="|${bien.prixAchatDemande}€|"></td>
							<td th:text="${bien.idBienImmobilier}"></td>
						</tr>

					</table> -->
				</div>
			</div>
		</div>
		<div class="site-section bg-light">
			<div class="container">
				<div class="row justify-content-center text-center mb-5">
					<div class="col-7 text-center mb-5">
						<h2 class="scissors text-center">Votre avis compte</h2>
						<p class="lead">Ismail Plaza, élue meilleure agence
							immobilière par les consommateurs!</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 mb-4 mb-lg-0">
						<div class="testimonial-2">
							<div class="d-flex v-card align-items-center mb-4">
								<img src="/images/person_1.jpg" alt="Image"
									class="img-fluid mr-3"> <span>Mike Fisher</span>
							</div>
							<blockquote>
								<p>"Conseiller à l'écoute. Bien proposé de qualité. Je
									recommande vivement Ismail Plaza à mes amis"</p>
							</blockquote>

						</div>
					</div>
					<div class="col-lg-4 mb-4 mb-lg-0">
						<div class="testimonial-2">
							<div class="d-flex v-card align-items-center mb-4">
								<img src="/images/person_2.jpg" alt="Image"
									class="img-fluid mr-3"> <span>Jeanne Stanley</span>
							</div>
							<blockquote>
								<p>"Je ne trouvais pas mon bonheur en cherchant sur
									internet. Grâce aux conseillers Ismail Plaza, j'ai enfin pu
									trouver l'appartement de mes rêves"</p>
							</blockquote>

						</div>
					</div>
					<div class="col-lg-4 mb-4 mb-lg-0">
						<div class="testimonial-2">
							<div class="d-flex v-card align-items-center mb-4">
								<img src="/images/person_3.jpg" alt="Image"
									class="img-fluid mr-3"> <span>Katie Rose</span>
							</div>
							<blockquote>
								<p>"Agence au top ! Vous ne pouvez pas être décu par les
									services proposés par Ismail Plaza"</p>
							</blockquote>

						</div>
					</div>
				</div>
			</div>
		</div>

		<footer class="site-footer">

			<div class="footer1">
				<div class="container">
					<div class="row"></div>
					<!-- /row of widgets -->
				</div>
			</div>

			<div class="footer2">
				<div class="container">
					<div class="row">

						<div class="col-md-4 widget">
							<div class="widget-body">
								<p class="simplenav">
									<a href="#">Accueil</a> | <b><a th:href="@{/logout}">Logout</a></b>
								</p>
							</div>
						</div>

						<div class="col-md-8 widget">
							<div class="widget-body">
								<p class="text-right">
									Projet de fin de formation INTI <br> 2021 - Designed by
									Adeline, Charles, Damien, Quentin et Laurent
								</p>
							</div>
						</div>

					</div>
					<!-- /row of widgets -->
				</div>
			</div>

		</footer>

	</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/jquery-migrate-3.0.0.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.animateNumber.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/aos.js"></script>

	<script src="/js/main.js"></script>

</body>

</html>

