<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
    
<meta charset='utf-8' content="Cory Sanoy" name="Author" />

	<link href="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.css" 
			th:href="@{/webjars/fullcalendar/2.2.5/fullcalendar.css}" rel="stylesheet"></link>
	<link href="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.print.css" 
			th:href="@{/webjars/fullcalendar/2.2.5/fullcalendar.print.css}" rel="stylesheet" media="print"></link>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"
	        th:src="@{/webjars/momentjs/2.9.0/min/moment.min.js}" type="text/javascript"></script>
	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.3/jquery.min.js"
	        th:src="@{/webjars/jquery/2.1.3/jquery.min.js}" type="text/javascript"></script>
	<script src="http://fullcalendar.io/js/fullcalendar-2.2.5/fullcalendar.min.js"
			th:src="@{/webjars/fullcalendar/2.2.5/fullcalendar.min.js}" type="text/javascript"></script>
    
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
  
    <link href='/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
    
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/css/style.css">

    <title>  Calendrier Visite</title>
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target"
	data-offset="300">


	<div class="site-wrap" id="home-section">

		<div class="site-mobile-menu site-navbar-target">
			<div class="site-mobile-menu-header">
				<div class="site-mobile-menu-close mt-3">
					<span class="icon-close2 js-menu-toggle"></span>
				</div>
			</div>
			<div class="site-mobile-menu-body"></div>
		</div>



		<header class="site-navbar site-navbar-target" role="banner">

			<div class="container">
				<div class="row align-items-center position-relative">

					<div class="col-3 ">
						<div class="site-logo">
							<a href="http://localhost:3022/index">Ismail Plaza</a>
						</div>
					</div>

					<div class="col-9  text-right">


						<span class="d-inline-block d-lg-none"><a href="#"
							class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span
								class="icon-menu h3 text-white"></span></a></span>



						<nav class="site-navigation text-right ml-auto d-none d-lg-block"
							role="navigation">
							<ul class="site-menu main-menu js-clone-nav ml-auto ">
								<li><a th:href="@{/index}"
									class="nav-link">Accueil</a></li>
								<li><a th:href="@{/gestionClientController/index}" class="nav-link">Gestion
										Client</a></li>
								<li><a th:href="@{/gestionConseillerController/index}"
									class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')">Gestion Utilisateur</a></li>
								<li><a th:href="@{/gestionProprietaireController/index}"
									class="nav-link">Gestion Proprietaire</a></li>
								<li><a th:href="@{/gestionBienController/index}"
									class="nav-link">Gestion Bien</a></li>
								<li><a class="nav-link" th:href="@{/logout}"> Logout </a></li>
							</ul>
						</nav>
					</div>


				</div>
			</div>

		</header>

		<div class="ftco-blocks-cover-1">
			<div class="site-section-cover overlay"
				data-stellar-background-ratio="0.5"
				style="background-image: url('/images/hero_1.jpg')">
				<div class="container">
					<div
						class="row align-items-center justify-content-center text-center">
						<div class="col-md-12">
							<h1 class="mb-3">Planifier une visite</h1>
							<p>Acheter ou Louer un bien, c'est preparer votre futur</p>
							<p>
								<a th:href="@{/index}" class="btn btn-primary">Retour à l'accueil</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br> <br> <br>

		<div class="container">
  

  <div class="content">
    <div id='calendar'></div>
  </div>
    
    

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <script src='/fullcalendar/packages/core/main.js'></script>
    <script src='/fullcalendar/packages/interaction/main.js'></script>
    <script src='/fullcalendar/packages/daygrid/main.js'></script>

    <script>
    
/*     $(document).ready(function() {
    	$('#calendar').fullCalendar({
    		header: {
    			left: 'prev,next today',
    			center: 'title',
    			right: 'month,agendaWeek,agendaDay'
    		},
    		defaultDate: '2019-06-01',
    		editable: true,
    		eventLimit: true, // allow "more" link when too many events
    		events: {
    	        url: 'http://localhost:3022/VisiteWebService/events',
    	        type: 'GET',
    	        error: function() {
    	            alert('there was an error while fetching events!');
    	        },
    	        //color: 'blue',   // a non-ajax option
    	        //textColor: 'white' // a non-ajax option
    	    }
    	});
    }); */
  
	
	

   
      document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
    	
        plugins: [  'dayGrid' ],
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events:
    	   {
    		        url: '/VisiteWebService/events',
    		        type: 'GET',
    		        
    		        error: function() {
    		            alert('there was an error while fetching events!');
    		        },
    		        //color: 'blue',   // a non-ajax option
    		        //textColor: 'white' // a non-ajax option
    		    },
    		    eventTimeFormat: { // like '14:30:00'
    		        hour: '2-digit',
    		        minute: '2-digit',
    		        meridiem: false
    		      },
    		      eventClick: function(info) {
    		    	    alert(info.event.start+" "+info.event.title);}
    		});
    calendar.render();
    	}); 
    </script>
    </div>
    
    
    
    
    	<div class="container">

			<h3 class="scissors">Ajouter une Visite</h3>
			<form id="form" th:action="@{/visiteController/add}"
				method="post">
				<div class="row">
					<div class="col-sm-4">
					<h7>Date de la visite</h7>
						<input class="form-control" type="texte" name="dateVisite" id="dateVisite"
							placeholder="aaaa/mm/jj" required>
					</div>
					<div class="col-sm-4">
					<h7>Heure de la visite</h7>
						<input class="form-control" type="texte" name="heureVisite"
							id="heureVisite" placeholder="hh:mm" required>
					</div>
					
					</div>
					<br> <br> 
					
					<div class="row">
					<!-- <div >
						<select name="savedBiens" multiple>
						<option th:each="biensImmobiliers:${biens}" th:text="${biensImmobiliers.idBienImmobilier}" th:value="${biensImmobiliers.idBienImmobilier}"></option>
				</select>
					</div>  -->
				
					<div class="col-sm-3" > 
						<!-- <input class="form-control" type="number" name="savedBiens"
							id="savedBiens" placeholder=" id du biens immobilier"> -->
								<h7>Bien immobilier</h7>
							<select name="savedBiens" class="form-control"> 
						<option th:each="biensImmobiliers:${biens}" th:text="${biensImmobiliers.adresse}"  th:value="${biensImmobiliers.idBienImmobilier}" required></option>
				</select>
					</div>
					</div>
					<br> <br>
					<div class="row">
					
				<div class="col-sm-3"> 
				<h7>Conseiller Immobilier</h7>
						<select name="savedConseillers" class="form-control"> Conseiller Immobilier
						<option th:each="conseillersImmobiliers:${conseillers}" th:text="${conseillersImmobiliers.login}" th:value="${conseillersImmobiliers.idConseillersImmobiliers}" required></option>
				</select>
					</div>
					
					<div class="col-sm-3"> 
					<h7>Client</h7>
					<select name="savedClients" class="form-control"> 
						<option th:each="client:${clients}" th:text="${client}" th:value="${client.idClient}" required></option>
				</select>
						
					</div>
				</div>
				<br>
			
				<div>
					<input class="btn" type="submit" name="save" value="Ajouter Visite"
						id="submit">
				</div>
			</form>
			<br> <br>
    
    <h3 class="scissors">Rechercher une Visite</h3>
			<form th:action="@{/visiteController/getVisitebyIdBienImmobilier}"
				method="get">
				<div class="row">
					<div class="col-sm-6">
						<input class="form-control" type="number" name="biensImmobiliers"
							placeholder="id bien immobilier">
					</div>
				</div>
				<div>
					<input class="btn" type="submit" name="search" value="Rechercher">
				</div>
			</form>
<form th:action="@{/visiteController/getVisitebyLoginConseillerImmobiliers}"
				method="get">
				<div class="row">
					<div class="col-sm-6">
						<input class="form-control" type="text" name="conseillersImmobiliers"
							placeholder="login conseiller immobilier">
					</div>
				</div>
				<div>
					<input class="btn" type="submit" name="search" value="Rechercher">
				</div>
			</form>
			
			<form th:action="@{/visiteController/getVisitebyNomClient}"
				method="get">
				<div class="row">
					<div class="col-sm-6">
						<input class="form-control" type="text" name="client"
							placeholder="nom client">
					</div>
				</div>
				<div>
					<input class="btn" type="submit" name="search" value="Rechercher">
				</div>
			</form>
		</div>
    
    
    <div class="site-section bg-light">
			<div class="container">
				<div
					class="row justify-content-center text-center mb-5 section-2-title">
					<div class="col-md-6">
						<h3 class="scissors text-center">Liste des Visites</h3>
					</div>
				</div>
				<div class="row align-items-stretch">
    
    
    
    <div th:each="visite:${visites}" class="col-lg-4 col-md-6 mb-5">
						<div class="post-entry-1 h-100 person-1">

							<div class="post-entry-1-contents">
								<span class="meta" th:text="${visite.idVisite}"></span>
								<p>conseiller : <span th:each="conseillersImmobiliers:${visite.conseillerImmobilier}" th:text="${conseillersImmobiliers.login}"></span></p>
								<p>date : <span th:text="${visite.dateVisite}"></span></p>
								<p>heure : <span th:text="${visite.heureVisite}"></span></p>
								<p>adresse bien : <span th:each="biensImmobiliers:${visite.biensImmobiliers}" th:text="${biensImmobiliers.adresse}"></span></p>
								<p>client : <span th:each="client:${visite.client}" th:text="${client}"></span></p>
<a
									th:href="@{/visiteController/getvisite(idVisite=${visite.idVisite})}" style="color: #204a87">
									update </a> 
								 <a
									th:href="@{/visiteController/delete(idVisite=${visite.idVisite})}">
									delete </a> 
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
    
    
    
    
    
    
    
    
    
<div class="site-section section-3"
			data-stellar-background-ratio="0.5"
			style="background-image: url('/images/hero_1.jpg');">
			<div class="container">
				<div class="row justify-content-center text-center">
					<div class="col-7 text-center mb-5">
						<h2 class="text-white scissors primary-color-icon text-center">Ismail
							Plaza</h2>
						<p class="lead text-white mb-5">Pour plus de précision ou pour
							prendre rendez-vous</p>
						<p>
							<a class="btn btn-primary" style="color: #ffffff">06-12-34-56-78</a>
						</p>
					</div>
				</div>
			</div>
		</div>



		<footer class="site-footer">

			<div class="footer1">
				<div class="container">
					<div class="row"></div>
					<!-- /row of widgets -->
				</div>
			</div>

			<div class="footer2">
				<div class="container">
					<div class="row">

						<div class="col-md-4 widget">
							<div class="widget-body">
								<p class="simplenav">
									<a th:href="@{/index}">Accueil</a> | <b><a
										th:href="@{/logout}">Logout</a></b>
								</p>
							</div>
						</div>

						<div class="col-md-8 widget">
							<div class="widget-body">
								<p class="text-right">
									Projet de fin de formation INTI <br> 2021 - Designed by
									Adeline, Charles, Damien, Laurent et Quentin
								</p>
							</div>
						</div>

					</div>
					<!-- /row of widgets -->
				</div>
			</div>

		</footer>

	</div>

	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/jquery-migrate-3.0.0.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/jquery.sticky.js"></script>
	<script src="/js/jquery.waypoints.min.js"></script>
	<script src="/js/jquery.animateNumber.min.js"></script>
	<script src="/js/jquery.fancybox.min.js"></script>
	<script src="/js/jquery.stellar.min.js"></script>
	<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/bootstrap-datepicker.min.js"></script>
	<script src="/js/aos.js"></script>
	<script src="/js/script.js"></script>
	<script src="/js/main.js"></script>

   
  </body>
</html>